**Get Dataset in Colab From Kaggle**

In [2]:
!pip install -q kaggle
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"amitkarmakar41","key":"c85bec72c3fbb356b0dac60ae095d7bf"}'}

In [3]:
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [4]:
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle datasets download -d shubh0799/churn-modelling

Downloading churn-modelling.zip to /content
  0% 0.00/262k [00:00<?, ?B/s]
100% 262k/262k [00:00<00:00, 85.0MB/s]

**Code Starts Here**

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
dataset = pd.read_csv('/content/churn-modelling.zip')

In [9]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [11]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

In [12]:
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [13]:
X = pd.concat([X, geography, gender],axis=1)

In [14]:
X = X.drop(['Geography','Gender'],axis=1)

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Germany          10000 non-null  uint8
 9   Spain            10000 non-null  uint8
 10  Male             10000 non-null  uint8
dtypes: float64(2), int64(6), uint8(3)
memory usage: 654.4 KB

In [16]:
X.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [20]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform', activation='relu',input_dim= 11))
classifier.add(Dropout(0.3))
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform', activation='relu'))
classifier.add(Dropout(0.3))
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [21]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dropout (Dropout)            (None, 6)                 0
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dropout_1 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [22]:
classifier.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = ['accuracy'])

In [23]:
 model_history = classifier.fit(x = X_train, y =y_train, validation_split=0.33, batch_size=10, epochs=100)

Epoch 1/100
536/536 [==============================] - 1s 981us/step - loss: 0.5615 - accuracy: 0.7688 - val_loss: 0.4901 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 0s 838us/step - loss: 0.5030 - accuracy: 0.7946 - val_loss: 0.4676 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 0s 807us/step - loss: 0.4856 - accuracy: 0.7962 - val_loss: 0.4604 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 0s 817us/step - loss: 0.4736 - accuracy: 0.7964 - val_loss: 0.4530 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 0s 811us/step - loss: 0.4672 - accuracy: 0.7972 - val_loss: 0.4507 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 0s 820us/step - loss: 0.4636 - accuracy: 0.7972 - val_loss: 0.4459 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 0s 811us/step - loss: 0.4552 - accuracy: 0.8015 - val_loss: 0.4407 - val_accuracy: 0.7959
Epoch 8/100
536/536 [==============================] - 0s 806us/step - loss: 0.4513 - accuracy: 0.8035 - val_loss: 0.4363 - val_accuracy: 0.8005
Epoch 9/100
536/536 [==============================] - 0s 798us/step - loss: 0.4539 - accuracy: 0.8054 - val_loss: 0.4366 - val_accuracy: 0.8023
Epoch 10/100
536/536 [==============================] - 0s 840us/step - loss: 0.4490 - accuracy: 0.8000 - val_loss: 0.4338 - val_accuracy: 0.8020
Epoch 11/100
536/536 [==============================] - 0s 780us/step - loss: 0.4412 - accuracy: 0.8059 - val_loss: 0.4321 - val_accuracy: 0.8031
Epoch 12/100
536/536 [==============================] - 0s 811us/step - loss: 0.4413 - accuracy: 0.8074 - val_loss: 0.4305 - val_accuracy: 0.8099
Epoch 13/100
536/536 [==============================] - 0s 837us/step - loss: 0.4429 - accuracy: 0.8091 - val_loss: 0.4282 - val_accuracy: 0.8035
Epoch 14/100
536/536 [==============================] - 0s 776us/step - loss: 0.4445 - accuracy: 0.8080 - val_loss: 0.4275 - val_accuracy: 0.8054
Epoch 15/100
536/536 [==============================] - 0s 801us/step - loss: 0.4409 - accuracy: 0.8099 - val_loss: 0.4271 - val_accuracy: 0.8069
Epoch 16/100
536/536 [==============================] - 0s 827us/step - loss: 0.4414 - accuracy: 0.8104 - val_loss: 0.4247 - val_accuracy: 0.8061
Epoch 17/100
536/536 [==============================] - 0s 816us/step - loss: 0.4339 - accuracy: 0.8169 - val_loss: 0.4207 - val_accuracy: 0.8148
Epoch 18/100
536/536 [==============================] - 0s 817us/step - loss: 0.4271 - accuracy: 0.8214 - val_loss: 0.4128 - val_accuracy: 0.8243
Epoch 19/100
536/536 [==============================] - 0s 808us/step - loss: 0.4286 - accuracy: 0.8207 - val_loss: 0.4123 - val_accuracy: 0.8258
Epoch 20/100
536/536 [==============================] - 0s 795us/step - loss: 0.4266 - accuracy: 0.8233 - val_loss: 0.4048 - val_accuracy: 0.8281
Epoch 21/100
536/536 [==============================] - 0s 800us/step - loss: 0.4235 - accuracy: 0.8240 - val_loss: 0.4012 - val_accuracy: 0.8315
Epoch 22/100
536/536 [==============================] - 0s 804us/step - loss: 0.4222 - accuracy: 0.8238 - val_loss: 0.3997 - val_accuracy: 0.8307
Epoch 23/100
536/536 [==============================] - 0s 829us/step - loss: 0.4195 - accuracy: 0.8229 - val_loss: 0.3976 - val_accuracy: 0.8345
Epoch 24/100
536/536 [==============================] - 0s 808us/step - loss: 0.4149 - accuracy: 0.8238 - val_loss: 0.3929 - val_accuracy: 0.8349
Epoch 25/100
536/536 [==============================] - 0s 820us/step - loss: 0.4122 - accuracy: 0.8281 - val_loss: 0.3923 - val_accuracy: 0.8376
Epoch 26/100
536/536 [==============================] - 0s 800us/step - loss: 0.4099 - accuracy: 0.8250 - val_loss: 0.3901 - val_accuracy: 0.8368
Epoch 27/100
536/536 [==============================] - 0s 802us/step - loss: 0.4098 - accuracy: 0.8302 - val_loss: 0.3857 - val_accuracy: 0.8436
Epoch 28/100
536/536 [==============================] - 0s 788us/step - loss: 0.4118 - accuracy: 0.8233 - val_loss: 0.3870 - val_accuracy: 0.8357
Epoch 29/100
536/536 [==============================] - 0s 819us/step - loss: 0.4100 - accuracy: 0.8315 - val_loss: 0.3885 - val_accuracy: 0.8338
Epoch 30/100
536/536 [==============================] - 0s 836us/step - loss: 0.4061 - accuracy: 0.8266 - val_loss: 0.3867 - val_accuracy: 0.8334
Epoch 31/100
536/536 [==============================] - 0s 819us/step - loss: 0.4066 - accuracy: 0.8285 - val_loss: 0.3850 - val_accuracy: 0.8451
Epoch 32/100
536/536 [==============================] - 0s 812us/step - loss: 0.4087 - accuracy: 0.8244 - val_loss: 0.3839 - val_accuracy: 0.8417
Epoch 33/100
536/536 [==============================] - 0s 805us/step - loss: 0.4151 - accuracy: 0.8259 - val_loss: 0.3871 - val_accuracy: 0.8466
Epoch 34/100
536/536 [==============================] - 0s 803us/step - loss: 0.4111 - accuracy: 0.8246 - val_loss: 0.3863 - val_accuracy: 0.8421
Epoch 35/100
536/536 [==============================] - 0s 807us/step - loss: 0.4083 - accuracy: 0.8294 - val_loss: 0.3831 - val_accuracy: 0.8436
Epoch 36/100
536/536 [==============================] - 0s 869us/step - loss: 0.4122 - accuracy: 0.8276 - val_loss: 0.3860 - val_accuracy: 0.8383
Epoch 37/100
536/536 [==============================] - 0s 819us/step - loss: 0.4123 - accuracy: 0.8257 - val_loss: 0.3855 - val_accuracy: 0.8364
Epoch 38/100
536/536 [==============================] - 0s 810us/step - loss: 0.4090 - accuracy: 0.8268 - val_loss: 0.3834 - val_accuracy: 0.8391
Epoch 39/100
536/536 [==============================] - 0s 822us/step - loss: 0.4151 - accuracy: 0.8252 - val_loss: 0.3869 - val_accuracy: 0.8410
Epoch 40/100
536/536 [==============================] - 0s 805us/step - loss: 0.4106 - accuracy: 0.8278 - val_loss: 0.3852 - val_accuracy: 0.8463
Epoch 41/100
536/536 [==============================] - 0s 833us/step - loss: 0.4100 - accuracy: 0.8268 - val_loss: 0.3848 - val_accuracy: 0.8406
Epoch 42/100
536/536 [==============================] - 0s 819us/step - loss: 0.4075 - accuracy: 0.8272 - val_loss: 0.3805 - val_accuracy: 0.8466
Epoch 43/100
536/536 [==============================] - 0s 820us/step - loss: 0.4069 - accuracy: 0.8270 - val_loss: 0.3824 - val_accuracy: 0.8406
Epoch 44/100
536/536 [==============================] - 0s 803us/step - loss: 0.4097 - accuracy: 0.8252 - val_loss: 0.3833 - val_accuracy: 0.8368
Epoch 45/100
536/536 [==============================] - 0s 814us/step - loss: 0.4121 - accuracy: 0.8287 - val_loss: 0.3849 - val_accuracy: 0.8429
Epoch 46/100
536/536 [==============================] - 0s 804us/step - loss: 0.4062 - accuracy: 0.8278 - val_loss: 0.3835 - val_accuracy: 0.8429
Epoch 47/100
536/536 [==============================] - 0s 825us/step - loss: 0.4056 - accuracy: 0.8283 - val_loss: 0.3834 - val_accuracy: 0.8448
Epoch 48/100
536/536 [==============================] - 0s 823us/step - loss: 0.4098 - accuracy: 0.8278 - val_loss: 0.3828 - val_accuracy: 0.8398
Epoch 49/100
536/536 [==============================] - 0s 831us/step - loss: 0.4067 - accuracy: 0.8268 - val_loss: 0.3840 - val_accuracy: 0.8379
Epoch 50/100
536/536 [==============================] - 0s 820us/step - loss: 0.4046 - accuracy: 0.8276 - val_loss: 0.3850 - val_accuracy: 0.8466
Epoch 51/100
536/536 [==============================] - 0s 824us/step - loss: 0.4083 - accuracy: 0.8268 - val_loss: 0.3856 - val_accuracy: 0.8429
Epoch 52/100
536/536 [==============================] - 0s 824us/step - loss: 0.4101 - accuracy: 0.8253 - val_loss: 0.3879 - val_accuracy: 0.8357
Epoch 53/100
536/536 [==============================] - 0s 830us/step - loss: 0.4139 - accuracy: 0.8261 - val_loss: 0.3868 - val_accuracy: 0.8376
Epoch 54/100
536/536 [==============================] - 0s 828us/step - loss: 0.4092 - accuracy: 0.8298 - val_loss: 0.3840 - val_accuracy: 0.8432
Epoch 55/100
536/536 [==============================] - 0s 807us/step - loss: 0.4048 - accuracy: 0.8296 - val_loss: 0.3849 - val_accuracy: 0.8451
Epoch 56/100
536/536 [==============================] - 0s 829us/step - loss: 0.4060 - accuracy: 0.8261 - val_loss: 0.3859 - val_accuracy: 0.8379
Epoch 57/100
536/536 [==============================] - 0s 813us/step - loss: 0.4065 - accuracy: 0.8298 - val_loss: 0.3823 - val_accuracy: 0.8421
Epoch 58/100
536/536 [==============================] - 0s 799us/step - loss: 0.4091 - accuracy: 0.8263 - val_loss: 0.3851 - val_accuracy: 0.8402
Epoch 59/100
536/536 [==============================] - 0s 849us/step - loss: 0.4126 - accuracy: 0.8289 - val_loss: 0.3853 - val_accuracy: 0.8410
Epoch 60/100
536/536 [==============================] - 0s 839us/step - loss: 0.4029 - accuracy: 0.8298 - val_loss: 0.3815 - val_accuracy: 0.8402
Epoch 61/100
536/536 [==============================] - 0s 814us/step - loss: 0.4069 - accuracy: 0.8265 - val_loss: 0.3833 - val_accuracy: 0.8440
Epoch 62/100
536/536 [==============================] - 0s 823us/step - loss: 0.4032 - accuracy: 0.8293 - val_loss: 0.3825 - val_accuracy: 0.8368
Epoch 63/100
536/536 [==============================] - 0s 814us/step - loss: 0.4042 - accuracy: 0.8285 - val_loss: 0.3775 - val_accuracy: 0.8432
Epoch 64/100
536/536 [==============================] - 0s 843us/step - loss: 0.4135 - accuracy: 0.8244 - val_loss: 0.3878 - val_accuracy: 0.8402
Epoch 65/100
536/536 [==============================] - 0s 848us/step - loss: 0.4036 - accuracy: 0.8259 - val_loss: 0.3793 - val_accuracy: 0.8417
Epoch 66/100
536/536 [==============================] - 0s 814us/step - loss: 0.4056 - accuracy: 0.8285 - val_loss: 0.3796 - val_accuracy: 0.8421
Epoch 67/100
536/536 [==============================] - 0s 809us/step - loss: 0.4132 - accuracy: 0.8276 - val_loss: 0.3860 - val_accuracy: 0.8413
Epoch 68/100
536/536 [==============================] - 0s 819us/step - loss: 0.4040 - accuracy: 0.8287 - val_loss: 0.3822 - val_accuracy: 0.8432
Epoch 69/100
536/536 [==============================] - 0s 811us/step - loss: 0.4096 - accuracy: 0.8248 - val_loss: 0.3841 - val_accuracy: 0.8391
Epoch 70/100
536/536 [==============================] - 0s 836us/step - loss: 0.4099 - accuracy: 0.8248 - val_loss: 0.3848 - val_accuracy: 0.8372
Epoch 71/100
536/536 [==============================] - 0s 819us/step - loss: 0.4057 - accuracy: 0.8261 - val_loss: 0.3841 - val_accuracy: 0.8398
Epoch 72/100
536/536 [==============================] - 0s 811us/step - loss: 0.3968 - accuracy: 0.8324 - val_loss: 0.3804 - val_accuracy: 0.8387
Epoch 73/100
536/536 [==============================] - 0s 836us/step - loss: 0.4048 - accuracy: 0.8278 - val_loss: 0.3803 - val_accuracy: 0.8406
Epoch 74/100
536/536 [==============================] - 0s 831us/step - loss: 0.4047 - accuracy: 0.8263 - val_loss: 0.3804 - val_accuracy: 0.8376
Epoch 75/100
536/536 [==============================] - 0s 824us/step - loss: 0.4020 - accuracy: 0.8291 - val_loss: 0.3811 - val_accuracy: 0.8429
Epoch 76/100
536/536 [==============================] - 0s 826us/step - loss: 0.4003 - accuracy: 0.8294 - val_loss: 0.3780 - val_accuracy: 0.8459
Epoch 77/100
536/536 [==============================] - 0s 844us/step - loss: 0.4053 - accuracy: 0.8255 - val_loss: 0.3802 - val_accuracy: 0.8376
Epoch 78/100
536/536 [==============================] - 0s 817us/step - loss: 0.4001 - accuracy: 0.8313 - val_loss: 0.3802 - val_accuracy: 0.8372
Epoch 79/100
536/536 [==============================] - 0s 840us/step - loss: 0.4077 - accuracy: 0.8250 - val_loss: 0.3801 - val_accuracy: 0.8395
Epoch 80/100
536/536 [==============================] - 0s 809us/step - loss: 0.4033 - accuracy: 0.8281 - val_loss: 0.3798 - val_accuracy: 0.8379
Epoch 81/100
536/536 [==============================] - 0s 839us/step - loss: 0.4087 - accuracy: 0.8280 - val_loss: 0.3823 - val_accuracy: 0.8368
Epoch 82/100
536/536 [==============================] - 0s 801us/step - loss: 0.4043 - accuracy: 0.8281 - val_loss: 0.3794 - val_accuracy: 0.8451
Epoch 83/100
536/536 [==============================] - 0s 837us/step - loss: 0.4117 - accuracy: 0.8263 - val_loss: 0.3788 - val_accuracy: 0.8459
Epoch 84/100
536/536 [==============================] - 0s 846us/step - loss: 0.4096 - accuracy: 0.8250 - val_loss: 0.3831 - val_accuracy: 0.8421
Epoch 85/100
536/536 [==============================] - 0s 821us/step - loss: 0.4065 - accuracy: 0.8302 - val_loss: 0.3791 - val_accuracy: 0.8421
Epoch 86/100
536/536 [==============================] - 0s 833us/step - loss: 0.4089 - accuracy: 0.8233 - val_loss: 0.3807 - val_accuracy: 0.8368
Epoch 87/100
536/536 [==============================] - 0s 833us/step - loss: 0.3958 - accuracy: 0.8300 - val_loss: 0.3770 - val_accuracy: 0.8474
Epoch 88/100
536/536 [==============================] - 0s 855us/step - loss: 0.4091 - accuracy: 0.8270 - val_loss: 0.3821 - val_accuracy: 0.8379
Epoch 89/100
536/536 [==============================] - 0s 820us/step - loss: 0.4058 - accuracy: 0.8261 - val_loss: 0.3781 - val_accuracy: 0.8455
Epoch 90/100
536/536 [==============================] - 0s 837us/step - loss: 0.4022 - accuracy: 0.8274 - val_loss: 0.3811 - val_accuracy: 0.8417
Epoch 91/100
536/536 [==============================] - 0s 805us/step - loss: 0.4071 - accuracy: 0.8270 - val_loss: 0.3803 - val_accuracy: 0.8391
Epoch 92/100
536/536 [==============================] - 0s 851us/step - loss: 0.3953 - accuracy: 0.8358 - val_loss: 0.3777 - val_accuracy: 0.8421
Epoch 93/100
536/536 [==============================] - 0s 816us/step - loss: 0.4034 - accuracy: 0.8315 - val_loss: 0.3798 - val_accuracy: 0.8417
Epoch 94/100
536/536 [==============================] - 0s 820us/step - loss: 0.4097 - accuracy: 0.8285 - val_loss: 0.3823 - val_accuracy: 0.8391
Epoch 95/100
536/536 [==============================] - 0s 818us/step - loss: 0.4062 - accuracy: 0.8276 - val_loss: 0.3833 - val_accuracy: 0.8425
Epoch 96/100
536/536 [==============================] - 0s 829us/step - loss: 0.4064 - accuracy: 0.8276 - val_loss: 0.3826 - val_accuracy: 0.8395
Epoch 97/100
536/536 [==============================] - 0s 841us/step - loss: 0.4035 - accuracy: 0.8294 - val_loss: 0.3789 - val_accuracy: 0.8444
Epoch 98/100
536/536 [==============================] - 0s 839us/step - loss: 0.4100 - accuracy: 0.8205 - val_loss: 0.3827 - val_accuracy: 0.8429
Epoch 99/100
536/536 [==============================] - 0s 801us/step - loss: 0.4067 - accuracy: 0.8280 - val_loss: 0.3811 - val_accuracy: 0.8395
Epoch 100/100
536/536 [==============================] - 0s 823us/step - loss: 0.4071 - accuracy: 0.8291 - val_loss: 0.3783 - val_accuracy: 0.8383

In [24]:
y_pred = classifier.predict(X_test)
y_pred= (y_pred>0.5)

In [25]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [26]:
cm

array([[1583,   12],
       [ 288,  117]])

In [27]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)
score

0.85

# Hyper Parameter Tuning

In [45]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

from keras.models import Sequential
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout
from keras.activations import relu, sigmoid

In [46]:
def create_model(layers, activation):
    model = Sequential()
    for i, nodes in enumerate(layers):
        if i==0:
            model.add(Dense(nodes,input_dim=X_train.shape[1]))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
        else:
            model.add(Dense(nodes))
            model.add(Activation(activation))
            model.add(Dropout(0.3))
            
    model.add(Dense(units = 1, kernel_initializer= 'glorot_uniform', activation = 'sigmoid')) # Note: no activation beyond this point
    
    model.compile(optimizer='adam', loss='binary_crossentropy',metrics=['accuracy'])
    return model

In [51]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [52]:
layers = [(20,), (40, 20), (45, 30, 15)]
activations = ['sigmoid', 'relu']
param_grid = dict(layers=layers, activation=activations, batch_size = [128, 256], epochs=[30])
grid = GridSearchCV(estimator=model, param_grid=param_grid,cv=5)

In [54]:
grid_result = grid.fit(X_train, y_train)

In [55]:
print(grid_result.best_score_, grid_result.best_params_)

0.8573749899864197 {'activation': 'relu', 'batch_size': 128, 'epochs': 30, 'layers': (45, 30, 15)}

In [63]:
pred_y = grid.predict(X_test)
y_pred = (pred_y>0.5)

In [64]:
cm = confusion_matrix(y_test, y_pred)
score = accuracy_score(y_pred,y_test)

In [65]:
cm

array([[1528,   67],
       [ 209,  196]])

In [66]:
score

0.862