In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dataset = pd.read_csv('/content/Churn_Modelling.csv')

In [ ]:
dataset.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

In [ ]:
geography = pd.get_dummies(X['Geography'],drop_first=True)
gender = pd.get_dummies(X['Gender'], drop_first=True)

In [ ]:
X = pd.concat([X, geography, gender],axis=1)

In [ ]:
X = X.drop(['Geography','Gender'],axis=1)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Age              10000 non-null  int64
 2   Tenure           10000 non-null  int64
 3   Balance          10000 non-null  float64
 4   NumOfProducts    10000 non-null  int64
 5   HasCrCard        10000 non-null  int64
 6   IsActiveMember   10000 non-null  int64
 7   EstimatedSalary  10000 non-null  float64
 8   Germany          10000 non-null  uint8
 9   Spain            10000 non-null  uint8
 10  Male             10000 non-null  uint8
dtypes: float64(2), int64(6), uint8(3)
memory usage: 654.4 KB

In [ ]:
X.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [ ]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform', activation='relu',input_dim= 11))
classifier.add(Dropout(0.3))
classifier.add(Dense(units = 6, kernel_initializer= 'he_uniform', activation='relu'))
classifier.add(Dropout(0.3))
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [ ]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 6)                 72
_________________________________________________________________
dropout (Dropout)            (None, 6)                 0
_________________________________________________________________
dense_4 (Dense)              (None, 6)                 42
_________________________________________________________________
dropout_1 (Dropout)          (None, 6)                 0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [ ]:
classifier.compile(optimizer = 'adam', loss='binary_crossentropy', metrics = ['accuracy'])

In [ ]:
 model_history = classifier.fit(x = X_train, y =y_train, validation_split=0.33, batch_size=10, epochs=100)

Epoch 1/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6011 - accuracy: 0.7455 - val_loss: 0.4835 - val_accuracy: 0.7955
Epoch 2/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5208 - accuracy: 0.7873 - val_loss: 0.4660 - val_accuracy: 0.7955
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5025 - accuracy: 0.7936 - val_loss: 0.4598 - val_accuracy: 0.7955
Epoch 4/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4902 - accuracy: 0.7960 - val_loss: 0.4580 - val_accuracy: 0.7955
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4789 - accuracy: 0.7964 - val_loss: 0.4537 - val_accuracy: 0.7955
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4752 - accuracy: 0.7966 - val_loss: 0.4511 - val_accuracy: 0.7955
Epoch 7/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4667 - accuracy: 0.7964 - val_loss: 0.4465 - val_accuracy: 0.7955
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4673 - accuracy: 0.7966 - val_loss: 0.4448 - val_accuracy: 0.7955
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4671 - accuracy: 0.7983 - val_loss: 0.4415 - val_accuracy: 0.7959
Epoch 10/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4582 - accuracy: 0.8022 - val_loss: 0.4354 - val_accuracy: 0.8061
Epoch 11/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4469 - accuracy: 0.8063 - val_loss: 0.4290 - val_accuracy: 0.8088
Epoch 12/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4435 - accuracy: 0.8108 - val_loss: 0.4221 - val_accuracy: 0.8103
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4376 - accuracy: 0.8136 - val_loss: 0.4162 - val_accuracy: 0.8141
Epoch 14/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4326 - accuracy: 0.8115 - val_loss: 0.4110 - val_accuracy: 0.8133
Epoch 15/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4293 - accuracy: 0.8123 - val_loss: 0.4079 - val_accuracy: 0.8148
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.8130 - val_loss: 0.4051 - val_accuracy: 0.8145
Epoch 17/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4268 - accuracy: 0.8113 - val_loss: 0.4046 - val_accuracy: 0.8129
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4253 - accuracy: 0.8104 - val_loss: 0.4033 - val_accuracy: 0.8122
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4206 - accuracy: 0.8106 - val_loss: 0.4010 - val_accuracy: 0.8126
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4247 - accuracy: 0.8125 - val_loss: 0.4026 - val_accuracy: 0.8133
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4212 - accuracy: 0.8125 - val_loss: 0.3998 - val_accuracy: 0.8122
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4149 - accuracy: 0.8132 - val_loss: 0.3977 - val_accuracy: 0.8141
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.8115 - val_loss: 0.3975 - val_accuracy: 0.8126
Epoch 24/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4272 - accuracy: 0.8102 - val_loss: 0.3983 - val_accuracy: 0.8129
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8151 - val_loss: 0.3963 - val_accuracy: 0.8122
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.8108 - val_loss: 0.3963 - val_accuracy: 0.8126
Epoch 27/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4131 - accuracy: 0.8127 - val_loss: 0.3954 - val_accuracy: 0.8129
Epoch 28/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4216 - accuracy: 0.8089 - val_loss: 0.3965 - val_accuracy: 0.8129
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4198 - accuracy: 0.8100 - val_loss: 0.3958 - val_accuracy: 0.8133
Epoch 30/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4141 - accuracy: 0.8130 - val_loss: 0.3938 - val_accuracy: 0.8137
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4149 - accuracy: 0.8186 - val_loss: 0.3953 - val_accuracy: 0.8133
Epoch 32/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4163 - accuracy: 0.8207 - val_loss: 0.3926 - val_accuracy: 0.8133
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8155 - val_loss: 0.3933 - val_accuracy: 0.8137
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8205 - val_loss: 0.3922 - val_accuracy: 0.8133
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4068 - accuracy: 0.8192 - val_loss: 0.3904 - val_accuracy: 0.8129
Epoch 36/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4139 - accuracy: 0.8233 - val_loss: 0.3895 - val_accuracy: 0.8133
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4082 - accuracy: 0.8259 - val_loss: 0.3884 - val_accuracy: 0.8129
Epoch 38/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4134 - accuracy: 0.8231 - val_loss: 0.3877 - val_accuracy: 0.8137
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4180 - accuracy: 0.8265 - val_loss: 0.3906 - val_accuracy: 0.8133
Epoch 40/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4137 - accuracy: 0.8261 - val_loss: 0.3898 - val_accuracy: 0.8111
Epoch 41/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4078 - accuracy: 0.8306 - val_loss: 0.3876 - val_accuracy: 0.8129
Epoch 42/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8238 - val_loss: 0.3837 - val_accuracy: 0.8137
Epoch 43/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4130 - accuracy: 0.8229 - val_loss: 0.3844 - val_accuracy: 0.8129
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4204 - accuracy: 0.8216 - val_loss: 0.3867 - val_accuracy: 0.8152
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8268 - val_loss: 0.3883 - val_accuracy: 0.8164
Epoch 46/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8220 - val_loss: 0.3850 - val_accuracy: 0.8137
Epoch 47/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4123 - accuracy: 0.8244 - val_loss: 0.3882 - val_accuracy: 0.8118
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4119 - accuracy: 0.8300 - val_loss: 0.3854 - val_accuracy: 0.8133
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8281 - val_loss: 0.3850 - val_accuracy: 0.8126
Epoch 50/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8233 - val_loss: 0.3851 - val_accuracy: 0.8141
Epoch 51/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4036 - accuracy: 0.8285 - val_loss: 0.3827 - val_accuracy: 0.8148
Epoch 52/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4151 - accuracy: 0.8196 - val_loss: 0.3866 - val_accuracy: 0.8126
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8294 - val_loss: 0.3855 - val_accuracy: 0.8122
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4092 - accuracy: 0.8266 - val_loss: 0.3857 - val_accuracy: 0.8111
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4095 - accuracy: 0.8229 - val_loss: 0.3839 - val_accuracy: 0.8145
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4053 - accuracy: 0.8235 - val_loss: 0.3824 - val_accuracy: 0.8145
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8255 - val_loss: 0.3830 - val_accuracy: 0.8145
Epoch 58/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4029 - accuracy: 0.8278 - val_loss: 0.3820 - val_accuracy: 0.8137
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8257 - val_loss: 0.3818 - val_accuracy: 0.8145
Epoch 60/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4036 - accuracy: 0.8317 - val_loss: 0.3816 - val_accuracy: 0.8137
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4044 - accuracy: 0.8296 - val_loss: 0.3830 - val_accuracy: 0.8133
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4152 - accuracy: 0.8248 - val_loss: 0.3843 - val_accuracy: 0.8126
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8324 - val_loss: 0.3815 - val_accuracy: 0.8156
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4087 - accuracy: 0.8304 - val_loss: 0.3825 - val_accuracy: 0.8141
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4040 - accuracy: 0.8300 - val_loss: 0.3793 - val_accuracy: 0.8504
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4065 - accuracy: 0.8259 - val_loss: 0.3800 - val_accuracy: 0.8148
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8278 - val_loss: 0.3831 - val_accuracy: 0.8141
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8266 - val_loss: 0.3811 - val_accuracy: 0.8148
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4070 - accuracy: 0.8308 - val_loss: 0.3809 - val_accuracy: 0.8145
Epoch 70/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8263 - val_loss: 0.3824 - val_accuracy: 0.8137
Epoch 71/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8227 - val_loss: 0.3828 - val_accuracy: 0.8156
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8352 - val_loss: 0.3815 - val_accuracy: 0.8148
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8326 - val_loss: 0.3795 - val_accuracy: 0.8190
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4094 - accuracy: 0.8268 - val_loss: 0.3801 - val_accuracy: 0.8167
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4110 - accuracy: 0.8270 - val_loss: 0.3839 - val_accuracy: 0.8141
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4075 - accuracy: 0.8248 - val_loss: 0.3805 - val_accuracy: 0.8137
Epoch 77/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8326 - val_loss: 0.3812 - val_accuracy: 0.8141
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4067 - accuracy: 0.8268 - val_loss: 0.3816 - val_accuracy: 0.8141
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8334 - val_loss: 0.3815 - val_accuracy: 0.8137
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8266 - val_loss: 0.3812 - val_accuracy: 0.8141
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8250 - val_loss: 0.3823 - val_accuracy: 0.8133
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4066 - accuracy: 0.8265 - val_loss: 0.3803 - val_accuracy: 0.8179
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4141 - accuracy: 0.8255 - val_loss: 0.3818 - val_accuracy: 0.8145
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8253 - val_loss: 0.3797 - val_accuracy: 0.8164
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8311 - val_loss: 0.3788 - val_accuracy: 0.8179
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4045 - accuracy: 0.8326 - val_loss: 0.3790 - val_accuracy: 0.8141
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4044 - accuracy: 0.8280 - val_loss: 0.3802 - val_accuracy: 0.8141
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4140 - accuracy: 0.8233 - val_loss: 0.3819 - val_accuracy: 0.8141
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8261 - val_loss: 0.3822 - val_accuracy: 0.8148
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4060 - accuracy: 0.8266 - val_loss: 0.3800 - val_accuracy: 0.8148
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4078 - accuracy: 0.8287 - val_loss: 0.3800 - val_accuracy: 0.8141
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8291 - val_loss: 0.3796 - val_accuracy: 0.8137
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8302 - val_loss: 0.3810 - val_accuracy: 0.8145
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4054 - accuracy: 0.8285 - val_loss: 0.3788 - val_accuracy: 0.8148
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8332 - val_loss: 0.3773 - val_accuracy: 0.8516
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8285 - val_loss: 0.3771 - val_accuracy: 0.8489
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8334 - val_loss: 0.3766 - val_accuracy: 0.8485
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4033 - accuracy: 0.8315 - val_loss: 0.3795 - val_accuracy: 0.8493
Epoch 99/100
536/536 [==============================] - 1s 1ms/step - loss: 0.4150 - accuracy: 0.8268 - val_loss: 0.3822 - val_accuracy: 0.8141
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4077 - accuracy: 0.8311 - val_loss: 0.3809 - val_accuracy: 0.8156

In [ ]:
y_pred = classifier.predict(X_test)
y_pred= (y_pred>0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[1506,   89],
       [ 192,  213]])

In [ ]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_pred,y_test)
score

0.8595